## Visual Studio / .NET
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode

## Node / Angular
node_modules/
dist/
.angular/

## Ai
.llm-wiki/
docs/plans
docs/assets
.playwright-mcp
/publish_out
/docs/jira
/publish.zip
/.agents/agents
/GEMINI.md
/docs/migrations/20260818_AddNewEntities.sql
/CHANGELOG.md
.context
